<h1>{{#link-to 'new-question'}}Ask An Expert!{{/link-to}}</h1>

<h2>Previous Questions:</h2>

{{#each model.questions as |question|}}
  <h4>{{#link-to 'question-page' question.id}}{{question.content}}{{/link-to}}</h4>
{{/each}}