<h1>{{model.content}}</h1>

<h2>Answers:</h2>
{{#each model.answers as |answer|}}
  <p>{{answer.content}}</p>
{{/each}}

{{new-answer-form saveAnswer="saveAnswer" question=model}}
<br>
<button class="btn btn-default">Add an answer</button>

